body {
    background-color: #F7EBE8
}
.centered-table {
    margin: 0 auto; 
    border-collapse: collapse; 
  }
  
  .centered-table th, .centered-table td {
    border: 1px solid black; 
    padding: 8px;
  }
  